body{
	background-image: url("../../assets/images/Star_War.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	padding-left:20px;
}

h1{
	margin-left:780px;
}
img{
	width:150px;
	height:100px;
	margin-left:20px;
	margin-right:20px;
}

.character{
	border:solid green;
	background-color:white;
	float:left;
}

.available_enimies .character{
	border:solid green;
	background-color:red;
	float:left;
}

.defender .character{
	border:solid green;
	background-color:black;
	float:left;
}

.character > p{
	text-align:center;
}

.your_character{
	clear:both;
}

p.show{
	font-size:24px;
	font-weight:bold;
}

div.clear{
	clear:both;
}

div.add_result{
	margin-top:20px;
	margin-bottom: 20px;
	padding: 20px;
	color:black;
	background-color:white;
	display:inline-block;
	border:solid green;

}

.invisible{
	opacity: 0;
}